.junichi_pt0 {
  width: 460px;
  height: auto;
  border: 1px 1px 0 1px solid white;
  background-color: darkred;
  font-family: EB Garamond;
  padding-bottom: 20px;
  margin: 0 auto;
  background-image: url(https://i.pinimg.com/564x/10/2d/74/102d74abe1c73b2de6a83ffe41664c09.jpg);
  background-repeat: repeat;
  background-blend-mode: multiply;
  background-size: cover;
}
.junichi_pt0 a {
  font-weight: bold;
  color: white;
  text-decoration-line: underline;
}
.junichi_pt_img {
  margin: -60px auto -20px auto;
  width: 205px;
  display: flex;
  justify-content: center;
}
.junichi_pt_img img {
  width: 80px;
  height: 80px;
  margin: 0 10px;
  filter: grayscale(100%);
  border: 1px white;
  border-style: double;
}
.junichi_pt1 {
  font-size: 32px;
  font-weight: thin;
  text-align: center;
  color: white;
  margin: 0 auto 20px auto;
  height: 75px;
  padding: 40px 0;
  width: 460px;
  background-color: darkred;
}
.junichi_pt1 div {
  font-size: 12px;
  height: 50px;
  margin: -5px auto 0 auto;
  font-style: italic;
}
.junichi_pt2 {
  width: 320px;
  padding: 0 20px 20px 20px;
  margin: 40px auto 0 auto;
  background-color: white;
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
}
.junichi_rpc {
  width: 460px;
  margin: 0 auto;
  padding: 5px 0;
  height: 12px;
  background-color: black;
  font-size: 10px;
  color: white;
  text-align: center;
  font-family: EB Garamond;
}
